.cryptos-container {
  padding: 0 8%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .header {
    max-width: 500px;
    margin: 0 auto;
  }

  .cryptos-heading {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .cryptos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .coin {
      text-decoration: none;
      cursor: pointer;
      background-color: rgba(226, 226, 226, 0.7);
      color: #1b1b1b;
      width: 300px;
      margin: 10px;
      padding: 10px 20px;
      border: 1px solid rgb(33, 128, 206);
      border-radius: 10px;

      &:hover {
        background-color: rgb(240, 240, 240);
        box-shadow: 0px 0px 15px rgb(33, 128, 206);
      }

      .coin-title {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-weight: 500;
        }
        img {
          width: 50px;
        }
      }

      .coin-details {
        h3 {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }

  .more {
    margin: 2rem 0;
    display: grid;
    place-items: center;
  }
}

@media screen and (max-width: 768px) {
  .cryptos-container {
    padding: 2rem 1rem;
  }
}
